        <div class="home_container">
            <h1 class="home_titulo">Sistema da Escola</h1>
            <h2 class="home_main_text">Seja bem-vindo ao nosso sistema escolar.
                Esperamos atender todas as
                necessidades dos nossos alunos. </h2>
            <a href="#"> <button class="" type="button">Veja mais fotos</button> </a>
        </div>