<nav class="navbar">
    <div class="navbar_Logo_Title"><a class="navbar_escola" href="#">Escola</a></div>
            <ul class="navbar_ul">
                <li class="navbar_li"> <a class="navbar_home" ariacurrent="page" href="/">Home</a> </li>
                <li class="navbar_li"> <a class="navbar_turma" href="/rota_turma/turma">Turma</a> </li>
                <li class="navbar_li"> <a class="navbar_aluno" href="/rota_aluno/aluno">Aluno</a> </li>
            </ul>

</nav>