<footer>
    <p class="footer_title">Agradecemos pela escolha</p>
    <p class="footer_p">Guilherme Ryam Silva de Oliveira Guedes</p>
    <div class="footer_copyright"> ©2023 Copyright: Guilherme Ryam</div>
</footer>