<div class="container_add_aluno">
    <h2> Nova Turma: </h2>
    <div class="card_add_aluno">
        <div class="card_info_add_aluno">
            <form action="/rota_turma/turma/nova" method="POST">
                <div class="input_add_aluno">
                <label for="descricao">Descrição: </label>
                <input type="text" id="descricao" name="descricao" placeholder=""
                    class="formcontrol">
                <br>
                </div>
                <button type="submit" class="btn_add_novo_aluno">Cadastrar
                    Turma</button>
            </form>
        </div>
    </div>
</div>